/* @@@@@@@@@@@@@@@@@@@@@@@Typography@@@@@@@@@@@@@@@@@@@@ */
/* Bangla font */
@import url('https://fonts.maateen.me/charukola-ultra-light/font.css');
@import url('https://cdn.rawgit.com/sh4hids/bangla-web-fonts/durbar/stylesheet.css');
@import url('https://fonts.googleapis.com/css?family=Atma');
/* https://fonts.shahid.pro/ */

/* notification banner */
.notification-banner {
    position: fixed;
    top: 10%;
    left: 10%;
    z-index: 999;
    width: 80%;
    height: auto;
    border: 2px solid #C6C5B9;
    border-radius: 10px 20px 10px 20px;
    box-shadow: 5px 5px 10px rgb(161, 100, 100);
    background-color: #be771a;
    opacity: 95%;
    display: flex;
}

  .notification-banner .banner-text {
    width: auto;
    height: auto;
    padding: 10px;
  }

  .notification-banner .text-area .banner-text p{
    color: cornsilk !important;
    font-size: 1.5rem;
  }

.notification-banner .notification-banner-buttons{
    padding: 10px;
  }

  .notification-banner .close {
    margin-right: -20px;
    margin-top: -20px;
    
  }

  .notification-banner-buttons a {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #333;
    padding: 8px 10px;
    border-radius: 10px;
  }

/* notification end */

p,a{
    text-decoration: none !important;
    font-family: 'Atma','charukolaultralight', Arial, sans-serif !important;
    font-size: 1rem;
    
}


h1{
    font-family: 'Durbar','charukolaultralight', Arial, sans-serif !important;
    font-size: 3rem;
}

h2,h3 a{
    font-family: 'Atma','charukolaultralight', Arial, sans-serif !important;
    font-size: 1.5rem;
}

h3{
    font-family: 'charukolaultralight', Arial, sans-serif !important;
    font-size: 2rem;
}

/* color */
p,h1,h2,h3,h5, a{
    color: #C6C5B9;

}

h2 a{
    color: #C6C5B9;

}

/* box shadow content box  */
.con-box {
    box-shadow: 1px 1px 10px 1px #2A2438;
}

/* ------------------------------------------------------------------- */

/* blog post quotes */
q {
    font-family: 'Atma','charukolaultralight', Arial, sans-serif !important;
    color: #8b885e;
    font-size: 1.5rem;
}

/* blog post content */
.blog-main-content p{
    font-family: 'Atma','charukolaultralight', Arial, sans-serif !important;
    color: #8b885e;
    font-size: 1.2rem;
}
/* ------------------------------------------------------------------- */

/* https://www.unicodepedia.com/unicode/dingbats/270d/writing-hand/ */

/*############### Top-BER ##################*/
.top-ber{
    background-color: #7d7d7d;
    color: #C6C5B9;
}

.top-ber #sIcon{
    display: flex;
}


.top-ber .social-icon a img{
    padding-right: 2px;
    /* filter: grayscale(100%); */
}



/* $$$$$$$$$$Logo Animation$$$$$$$$ */
.animate-text
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #C6C5B9 0%,
    #8b885e 29%,
    #363411 67%,
    #0f0e01 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #C6C5B9;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* lego animation end */
.top-ber a{
    color: #C6C5B9;
}

/* #########About Area##########  */
.about-bg{
    background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(17, 17, 17),rgb(66, 66, 66));    
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
}

.about-info-con{
    padding-right: 40px;
}

.about-info-con p{
    color: #C6C5B9;
}

.about-info{
   width: 100vw;
   height: auto;
}

.btn{
    color: #C6C5B9;
    border: 2px solid #C6C5B9;
    border-radius: 10px 20px 10px 20px;
}

.btn:hover{
    color: #161616;
    border: 2px solid #0c0000;
    background-color: #C6C5B9;
    border-radius: 20px 10px 20px 10px;
    transition: 1s;
}
/* profile pic */
.about-info .proPic{
    display: flex;
}

.about-info .proPic img{
    width: 100%;
    opacity: .7;
}

/* ##############@@@@@@@@@@@@##########Blog Area#################@@@@@@@@@######  */
/* blog heading */
.blog-item .blog-fImg img{
    width: 100%;
}
.blog-area .heading {
    color: #161616;
  }

.blog-area .heading::after{
    content: '\270d';
    padding-right: 10px;
  }

.blog-area p{
    color: #393D3F;
}

.blog-content a{
    color: rgb(126, 12, 12);
    text-decoration: none !important;
}
/* ||||||||||pagignation area|||||| */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .pages {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .page {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .page:hover {
    background-color: #202222;
    color: #C6C5B9;
  }
  /* pagignation end */
/* #####@@@@@@@@@@@@@@@@@@@@@@@@@@@@####Service Area###@@@@@@@@@@@@@@@@@@@@#######  */
.service-card { 
    padding: 5;
}
.service-content {
    box-shadow: rgba(185, 146, 146, 0.35) 0px 5px 15px;
}
.service-text p{
    color: #C6C5B9;
}
.service-content:hover {
    transition: 2s;
    background-color: rgb(65, 46, 46);
    box-shadow: rgba(235, 229, 229, 0.35) 0px 5px 15px;
    
}
.service-content .btn{
    margin-bottom: 10px;
}
.service-item{
    background-image: repeating-linear-gradient(0deg, rgb(6, 6, 6) 0px, rgb(6, 6, 6) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(6, 6, 6) 0px, rgb(6, 6, 6) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(144,0%,9%),hsl(144,0%,9%));
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
}
.service-icon{
    width: 100%;
    height: auto;
}

.service-icon{
    text-align: center;
}

/* #########Projects Area########### */

.project-ttl .heading {
    color: #161616;
  }


.project-text{
    background-color: #3d11b6;
    color: #C6C5B9;
    opacity: 0.8;
}

.project-text:hover{
    background-color: #3d11b6;
    color: #C6C5B9;
    opacity: 0.9;
    transition: 2s;

}

/* %%%%%%%%%%%%%%%Accordiant CSS%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Style the tab */
.tab {
    margin-bottom: 20px;
    display: flex;
    box-shadow: rgba(5, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 20%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: #161616;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 1s;
    font-size: 1rem;
    font-weight: 600;
    font-family: monospace;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    font-size: 1.5rem;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    color: #C6C5B9;
    font-size: 1.5rem;
  }
  
  /* Style the tab content */
 .tabcontent {
    padding: 10px 12px;
    color:#161616;
    box-shadow: rgba(5, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 80%;
  }
  .project-info h3,p {
    color:#161616;

  }
  /* Project Icon */
  .project-info .icon .bi{
    font-size: 2rem;
  }

  /* Project Card */
  .project-card {
    padding: 10;
    box-shadow: rgba(5, 0, 0, 0.35) 0px 5px 15px;

  }

  .item-details {
    margin-bottom: 10px;
  }

  .project-card .icon a{
    margin-right: 5px;
    border-radius: 50%;

  }

  


/* Footer Area  */
/* 
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%((((((((FOOTER AREA  - Contact )))))))))%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.contac-info .icon-text a{
    color: #C6C5B9;
    font-size: 1.5rem;
}

/* Social Icon */
.social-icon a{
    margin: 5;
}

.social-icon p{
    color: #C6C5B9;
}

.social-icon p::after{
    content: " = --- -- ->";
}

.social-icon p::before{
    content: " <- -- --- = ";
}

footer{
    color: #C6C5B9;
}


.footer-area {
    background-image: radial-gradient(circle at 16% 83%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(63, 63, 63,0.06) 50%, rgba(63, 63, 63,0.06) 100%),radial-gradient(circle at 68% 87%, rgba(66, 66, 66,0.06) 0%, rgba(66, 66, 66,0.06) 50%,rgba(105, 105, 105,0.06) 50%, rgba(105, 105, 105,0.06) 100%),radial-gradient(circle at 38% 50%, rgba(123, 123, 123,0.06) 0%, rgba(123, 123, 123,0.06) 50%,rgba(172, 172, 172,0.06) 50%, rgba(172, 172, 172,0.06) 100%),linear-gradient(90deg, hsl(18,0%,1%),hsl(18,0%,1%));
    background-attachment: fixed;
    backdrop-filter: blur(20px);
}
.footer-item-container{
    text-align: center;
    font-size: larger;
}
.footer-item-container a{
    text-decoration: none;
}
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: large;
}

.copyright{
    display: flex;
    justify-content: center;
}
.copyright p{
    color: #000;
}


/*%%%%%%%%%%%%%%%%%%%%%% Back to top %%%%%%%%%%%%%%%%%%%%%%%*/
/* .back-to-top{
    background-color: #202222;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    padding: 10px;
    color: #DCE4E7;

    position: fixed;
    bottom: 10px;
    right: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-size: x-large;

    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.back-to-top.active {
    bottom: 20px;
    pointer-events: auto;
    opacity: .75;
    border-radius: 50%;
    
}
.back-to-top.active:hover {
    opacity: .95;
    background-color: #233535;
} */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Blog Single Page@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Blog Single Page@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@Blog Single Page@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.single-post h1,h2,h3 {
    color: #0f0e01 !important;
    font-weight: 700;
}
.single-post p,a{
    color: #333333 !important;
}
/* post icon area */
.single-post .pub-date {
    margin-left: 10px;
    display: flex;
}
.blog-content-info a{
    text-decoration: none;
}
/* icon text */
.blog-content-info a p{
    padding-left: 10px;
}
.blog-content-body a{
    text-decoration: none;
}

/* Top icons */
.category {
    margin-left: 10px;
}
/* ########Quote########## */
/* .blog-content-body hr.vertical {
    border: 0;
    margin: 0;
    border-left: 5px solid #8b885e;
    height: 50px;
    float: left;
  }
*/
  .blog-content-body .excerpt p{
    padding: 10px;
    background-color: #202222;
    color: #C6C5B9;
    font-size: 1.25rem;
    
  } 
  
/*@@@@@@@@@@@ main content @@@@@@@@@@@@@@*/
.blog-main-content p{
    font-family: 'charukolaultralight', Arial, sans-serif !important;
    color: #0f0e01;
    font-size: 1rem;
    font-weight: 500;
}
/* Big 1st letter */
.blog-content-body DIV:first-child p::first-letter {
    font-size: 40px;
    color: #e80222;
    font-weight: bold;
    line-height: .75;
  }

/* ######## Content bootom area ############# */

/* icons */
.con-ft-area .icon {
    padding-right: 10px;
}
/* Tags */
.con-ft-area .tags ul{
    display: flex;
}

.con-ft-area .tags ul li{
    list-style: none;
    margin-right: 10px;
}

/*### content love notifacation ####*/
.con-ft-area .notification {
    text-decoration: none;
    padding: 0px 16px;
    position: relative;
    display: inline-block;
  }
  
.con-ft-area .notification:hover{
    color: red;
}
  
  .notification .badge {
    font-size: 1rem;
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 2px;
    color: #0f0e01;
  }
  .notification .badge:hover {
    color: red;
  }
    /* notification end */

    /* ####Social Share##### */
.social-share a img{
    margin-top: 20px;
    color: #0f0e01;
    height: 16px;
    width: 16px;
}
/* ########Blog Author######### */
.blog-author-info-area{
    box-shadow: rgba(114, 86, 86, 0.35) 0px 5px 15px;
    
}

.blog-author-info-area .socil-icons{
    display: flex;
}

.blog-author-info-area .socil-icons a img{
    width: 24px;
    height: 24px;
    padding: 3px;
}


/* Related post : content footer */
.con-ft-area .related-post .post{
    padding: 10px;
}

.con-ft-area .related-post h5{
    padding: 10px;
    color: #0f0e01;
    font-family: 'Atma','charukolaultralight', Arial, sans-serif !important;
}


  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%Right Sideber %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%Right Sideber %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
  /* %%%%%%%%%%%%%%%%%%%%%%%%%%%Right Sideber %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
/* ##########Typography ##############*/
.r-sidebar {
    font-family: 'charukolaultralight', Arial, sans-serif !important;

}

/* Sections Headins */
.r-sidebar h3{
    font-size: 1.5rem;
    color: #0f0e01;
    font-weight: 700;
}

.r-sidebar .tags a{
    color: #190D4C;
}

.r-sidebar p,a{
    font-size: 1.15rem;
    color: #190D4C;
}

/* all a tag */
.r-sidebar a{
    text-decoration: none;
}

/* Contents  */
.r-sidebar .content a{
    font-size: 1.25rem;
    color: #0e0244;
    font-weight: 500;
    list-style:square;
}

/* ***********Categoris Post******** */
/* File icon before */
/* https://www.unicodepedia.com/unicode/miscellaneous-symbols-and-pictographs/1f4c1/file-folder/ */
/* .r-sidebar .category ul li::before{
    content: '\1F4C1';
} */
/* wordpress defult categoris */
.r-sidebar .category ul::before{
    content: '\1F4C1';
}
.r-sidebar .category ul li{
    list-style: none;
}
.r-sidebar .category ul > ul li{
    list-style: none;
    color: #202222;
    font-size: 1rem;
    font-family: 'charukolaultralight', Arial, sans-serif !important;

}
/* ********Tags Cloud********** */
.r-sidebar .tags li{
    list-style: none;
}

.r-sidebar .tags ul{
    
}
.r-sidebar .tags ul a{
    
}